<main>
    <div class="ce-block_custom">
        <div id="ce-title" class="ce-block__content" contenteditable="true">Title</div>
    </div>
    <div id="editorjs">
    </div>
    <div class="ce-block_custom">
        <div id="ce-actions">
            <button id="ce-button_save" class="ce-button_save">Save</button>
            <button id="ce-button_cancel" class="ce-button_cancel">Cancel</button>
        </div>
    </div>
</main>