<header>
    <div id="_navbar_wrapper_">
        <nav id="_navbar_" hx-boost="true" hx-push-url="true">
            <a id="_home_button_" href="/app" class="material-symbols-outlined">home</a>
            <a id="_create_post_button_" href="/app/create" class="material-symbols-outlined">post_add</a>
        </nav>
    </div>
</header>