<div id="_post_card_list_">
    {{#each data}}
    <div class="post-card animation-fade-in">
        <div class="post-card-content" data-id="{{id}}">
            <h1>{{title}}</h1>
        </div>
        <div class="post-card-options">
            <button class="material-symbols-outlined">edit</button>
        </div>
    </div>
    {{else}}
    <p>No content</p>
    {{/each}}
</div>