:root {
    --box-shadow-minimal: 0px 3px 5px rgba(0, 0, 0, 0.04);
    --box-shadow-hover: 0px 4px 8px -2px rgba(9, 30, 66, 0.25), 0px 0px 0px 1px rgba(9, 30, 66, 0.08);
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 320px;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

#_page_wrapper_ {
    min-height: 100%;
    height: fit-content;

    padding: 0px;
    margin: 0px;
}

#_content_ {

}

#_navbar_wrapper_ {
    min-height: 80px;
    width: 100%;
}

#_navbar_ {
    display: flex;
    justify-content: start;
    align-items: center;

    position: fixed;
    width: 100%;
    top: 0;

    height: 80px;
    background-color: salmon;

    padding: 10px;
    margin: 0px;
    
    box-shadow: var(--box-shadow-minimal);
    z-index: 1;
    gap: 5px;
}

#_navbar_ > a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    align-content: center;

    width: 50px;
    height: 50px;

    border-radius: 5px;

    padding: 5px;
    margin: 0px;
}

#_navbar_ > a:hover {
    background-color: lightsalmon;
}

.material-symbols-outlined {
    color: white;
    font-size: 48px;
}

#_grid_container_ {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(320px, 1fr));
    padding: 5px;
    gap: 5px;
}

#_post_card_list_ {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    margin: 0;
}

.post-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 320px;
    box-shadow: var(--box-shadow-minimal);
    transition: box-shadow 0.2s ease;
    background-color: lightsalmon;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
}

.post-card-blank {
    min-width: 320px;
    box-shadow: var(--box-shadow-minimal);
    transition: box-shadow 0.2s ease;
    background-color: lightgray;
    aspect-ratio: 3/1;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
}

.post-card-blank:hover {
    box-shadow: var(--box-shadow-hover);
    border-width: 50px;
}

.post-card:hover {
    box-shadow: var(--box-shadow-hover);
    border-width: 50px;
}

.post-card:hover > .post-card-options{
    display: block;
}

.post-card-content {
    flex: 1;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.post-card-content > h1 {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.post-card-content > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

.post-card-options {
    display: none;
}

.post-card-options > button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 28px;
    padding: 5px;
    margin: 0;

    /* transition: font-size 0.2s ease;*/
}

.post-card-options > button:hover {
    background-color: #fdc199;
    border-radius: 10px;
    /* font-size: 28px; */
    padding: 5px;
    margin: 0;
}

button {
    background-color: beige;
}

footer {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: salmon;
    height: 40px;
}

.animation-fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInSlideRight {
    from {
        opacity: 0;
        transform: translateX(350px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

#editorjs {
    background-color: white;
    /* min-height: 100%; */
    height: fit-content;
    padding-left: 20px;
    padding-right: 20px;
}

.codex-editor {
    background-color: white;
    min-height: 100%;
    height: 100%;
    z-index: 0;
    padding: 0;
    margin: 0;
}


.ce-block__content, 
.ce-toolbar__content {
    background-color: white;
    max-width: 650px;
    padding: 0px;
}

.codex-editor__redactor {
    padding-top: 0px !important;
    padding-bottom: 20px !important;
}

.ce-toolbar__actions {

}

.ce-inline-toolbar {

}

.ce-toolbar__plus {

}

.ce-block__content:hover {

}

.ce-block_custom {
    padding-left: 20px;
    padding-right: 20px;
}

#ce-title {
    outline: none;
    background-color: whitesmoke;
    border-radius: 5px;
    line-height: 1.6em;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: xx-large;
    font-weight: 900;
}

#ce-actions {
    max-width: 650px;
    margin: 0 auto;
}

.ce-button_save {
    all: unset;
    background-color: lightgreen;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    text-align: center;
    width: 50px;
}

.ce-button_cancel {
    all: unset;
    background-color: lightsalmon;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    text-align: center;
    width: 50px;
}

.ce-paragraph {
    border-bottom: 1px solid whitesmoke !important;
}

@media (max-width: 650px) {
    #editorjs {

    }
}
